/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');*/

/* Button Styles */
.button {
    -fx-background-color: linear-gradient(to bottom,#7F00FF, #7100E3);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
    -fx-cursor: hand;
    -fx-font-family: "Roboto", sans-serif; /* Apply Roboto font */
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom,#6300C6, #5500AA);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 4);
}

/* Table Styles */
.table-view {
    -fx-background-color: white;
    -fx-font-size: 14;
    -fx-text-fill: #ECF0F1;
    -fx-font-family: "Roboto", sans-serif; /* Apply Roboto font */
}

.table-view .column-header {
    -fx-font-size: 16;

    -fx-background-color: #BCBCF7;
    -fx-text-fill: #ECF0F1;
    -fx-font-weight: bold;
    -fx-pref-height: 50;
    -fx-font-family: "Roboto", sans-serif; /* Apply Roboto font */
}

.table-view .cell {
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-font-family: "Roboto", sans-serif; /* Apply Roboto font */
}

/* Title Label Styles */
.title_label {
    -fx-background-color: #BCBCF7;
     -fx-text-fill:#05587F;
    -fx-padding:0 0 0 10 ;
    -fx-font-weight: bold;
    -fx-font-size: 28;
    -fx-font-family: "Roboto", sans-serif; /* Apply Roboto font */
}

.card {
    -fx-background-color: #C0E9FD;
    -fx-border-radius: 20;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 5, 0, 0, 1);
}


.text-field {
    -fx-background-color:white;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-font-size: 16;

    -fx-prompt-text-fill: #BDC3C7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0, 1, 1);
}


.radio-button {
    -fx-font-size: 18px; /* Font size for the text */

    -fx-font-family: "Roboto", sans-serif; /* Use Roboto font */
    -fx-text-fill: #BDC3C7; /* Gray text color */
    -fx-padding: 5px 10px; /* Padding around the radio button */
    -fx-background-color: white;

    -fx-background-radius: 10;


}


.choice-box{
    -fx-background-color:white;
    -fx-background-radius: 10;
    -fx-padding: 10;
    -fx-border-radius: 10;

    -fx-text-fill: #BDC3C7;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.08), 6, 0, 1, 1);
}

.label{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

